#map {
    height: 500px;
    width: 80%;
}
#toggle-instructions {
    position: absolute;
    top: 100px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.custom-marker {
    font-size: larger;
    width: 24px;
    height: 24px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    color: black
}

html {
    margin: 0 0 0 0;
}
#header {
    background-color: rgb(105, 208, 105);
    margin-top: -1.5rem;
    height: 120px;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
#content {
    padding-top: 2rem;
}
#control {
    background-color: yellow;
    align-items: center;
}
#title {
    font-size: 32px;
    padding-top: 2rem;
}

#subtitle {
    font-size: 16px;
    padding-top: 1rem;
}
#title, #subtitle {
    margin-left: 2rem;
    line-height: 0px;
}
#content {
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}