#map {
    height: 500px;
    width: 50%;
}
html {
    zoom: 1.2;
    
}
#toggle-instructions {
    position: absolute;
    top: 100px;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    cursor: pointer;
}
.custom-marker {
    font-size: larger;
    width: 24px;
    height: 24px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    cursor: pointer;
    color: black
}

html {
    margin: 0 0 0 0;
}
#header {
   /* background-color: rgb(105, 208, 105);*/
    background-image: url("/static/images/title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1.5rem;
    height: 120px;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
    border-radius: 0 0 10px 10px;
}
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
  }
#content {
    margin-top: 20px;
    padding-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    flex-wrap: nowrap;
}
#control {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
select,#daterange {
    border: 0;
}
#control > div {
    background-color: yellow;
    align-items: center;
    height: 50px;
    width: 850px;
    /* margin-left: 25%; */
    /* margin-right: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#control > div > div{
    padding: 5px 5px;
    background-color: white;
}
.leaflet-routing-container{
    visibility: hidden;
}
#toggle-instructions {
    visibility: hidden;
}
#title {
    font-size: 32px;
    padding-top: 3rem;
    font-family: 'Kanit', sans-serif;
    color: rgb(44, 55, 212);
}
#title-r {
    color: yellow;
}
#title-o {
    color: red;
}
#subtitle {
    font-size: 16px;
    padding-top: 1rem;
    font-style: italic;
    padding-left: 5rem;
}
#title, #subtitle {
    margin-left: 2rem;
    line-height: 0px;
}


#footer_image {
    width: 100%;
    position: absolute;
    /* margin-bottom: -20rem; */
    margin-left: -7px;
    bottom: -40%;
    zoom: 2.5;
    z-index: -100;
    visibility: hidden;
}
#footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-image: url("/static/images/title.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: -1.5rem;
    margin-top: 30%;
    height: auto;
    margin-right: -0.5rem;
    margin-left: -0.5rem;
}
.table {
    border-collapse: collapse;
}
.th,.td {
    padding: 1rem;
    line-height: 0px;
}
.td {
    font-size: 12px;
    text-align: center;
    line-height: 0px;
}
.thead {
    position: sticky;
    top: 0;
}
.tfoot {
    position: sticky;
    bottom: 0;
    border-top: 2px solid #ccc;
}

#contact {
    font-size: 16px;
    font-weight: bold;
}